*{
  margin: 0;
  font-family: sans-serif;
}
/* Setel Input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

/* Mozilla */
input[type=number]{
  -moz-appearance: textfield;
}
/* Akhir Setel Input */

table{
  border-collapse: collapse;
}
th, td{
  border: 1px black solid;
  width: 200px;
}
th{
  height: 50px !important;
}
td{
  font-size: 12pt;
}

nav{
  background-color: blue;
  padding: 25px 10px 5px 25px;
  color: white;
}
nav ol{
  text-align: right;
  margin: 0;
  padding-top: 10px;
  border-top: 1px solid #008080;
}
nav li{
  display: inline;
  margin-left: 20px;
  padding: 10px;
  border-right: 1px solid white;
  border-left: 1px solid white;
}
a{
  text-decoration: none;
  color: white;
}
a.linkitam{
  color: black;
  text-decoration: underline;
}

nav ul.pagination{
  text-align: center;
  margin-bottom: 15px;
}

.error{
  text-align: center;
  display: inline;
}

.navigasi{
  display: inline;
  text-align: left;
}

.untuk{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.box{
  text-align: center;
}
.box>h1{
  color:black;
  text-align: center;
}
.kotak{
  margin: 15px 5px;
  padding: 15px 5px;
  display: block;
  border: solid black 2px;
  text-align: center;
}
.kotak input{
  margin: 10px 10px;
}
.search{
  text-align:center;
  margin-top: 45px;
}
