*{
  margin: 0;
  font-family: sans-serif;
}
/* Setel Input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

/* Mozilla */
input[type=number]{
  -moz-appearance: textfield;
}
/* Akhir Setel Input */

table{
  border-collapse: collapse;
  margin-bottom: px !important;
}
th, td{
  border: 1px black solid;
  width: 200px;
}
th{
  height: 50px !important;
}
td{
  font-size: 12pt;
}
th,td{text-align: center !important;}

nav{
  background-color: var(--blue);
  color: white;
  border-radius: 10px;
}
nav.head{
  padding: 25px 10px 5px 25px;
  border-radius: 0;
}
nav ol{
  text-align: right;
  margin: 0;
  padding-top: 10px;
  border-top: 1px solid #008080;
}
nav li{
  display: inline;
  margin-left: 20px;
  padding: 10px;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
a{
  text-decoration: none;
  color: white !important;
}
a.linkitam{
  color: black !important;
  text-decoration: underline;
}


ul.pagination{
  padding: 10px 0 10px 0;
  justify-content: center;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color: #007bff;
    border-color: #007bff;
}
.page-item.disabled{
  display: none;
}
.page-link {
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff !important;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.error li{
  text-align: center;
  display: inline;
  margin-left: -20px;
}

.navigasi{
  display: inline;
  text-align: left;
}

.untuk{
  margin: 20px auto 40px auto !important;
}

.box{
  text-align: center;
}
.box>h1{
  color:black;
  text-align: center;
}
.kotak{
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: rgba(255,255,255, 0.9);
  display: block;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.75);
}
.kotak.isi{
  padding: 30px 5px;
  margin-top: 50px;
  width: 500px;
  height: 360px;
  text-align: center;
}
.kotak.tampil{
  padding: 10px 5px;
  width: 800px;
  height: 500px;
  margin: 20px auto;
}
body{
  background-color: var(--cyan) !important;
}
.kotak input{
  margin: 10px 10px;
}
.search{
  text-align:center;
  margin-top: 45px;
}

@media screen and (max-width: 800px){
  nav{
    text-align:center;
  }
  nav li{
    display : inline;
    border: none;
    margin: 0;
  }
  nav ol, .navigasi{
    display: block;
    text-align: center;
  }
}
